.teacher.inactive{ /*uhm should use multi class selector*/
    display:none;
}

.teacher-portrait{
    width: 200px;
    float: left;
    padding-right: 5px;

}

.collection-item.active{
/* sass pls*/
    background-color: #673ab7 !important;

}

.collection a.collection-item{
    color: #673ab7;
}

/*
html{
    overflow-y:scroll;
}
*/

main{
    width: calc(100vw - 34px);
    flex: 1 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.banner{
    min-height: 80vh;
    /*background-image: url('public/5.jpg');*/
    background-image:url('https://mdn.mozillademos.org/files/8971/firefox_logo.png');    
    background-size: cover;
    
}