<template name="home">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiSaQezN4ww00Fz-QPIrD_S9wSGnzUCws&callback=initMap">
    </script>
    <div class="banner row">
        <div class="card-panel col s6 offset-s3"> <!-- green lighten-5-->
            <div class="banner-text grey-text text-darken-3">
                <div class="center">Chinese Harp Music Center</div>
            </div>
        </div>
    </div>


    <div class="content grey-text text-darken-3">
        <div class="row">
            <h3 class="center">We offer courses in the following instruments:</h3>
        </div>
        <div class="row instruments">
            <div class="col s8 offset-s2">
                <div class="col s3 image center">
                    <img class="responsive-img" src="guzheng.png">
                    <div class="description">
                        <p class="title">Guzheng</p>
                        <p class="inst-description">An ancient 21-string plucked zither</p>
                    </div>
                </div>
                <div class="col s3 image center">
                    <img class="responsive-img" src="guqin.png">
                    <div class="description">
                        <p class="title">Guqin</p>
                        <p>An ancient 7-string plucked zither</p>
                    </div>
                </div>
                <div class="col s3 image center">
                    <img class="responsive-img" src="dizi.png">
                    <div class="description">
                        <p class="title">Dizi</p>
                        <p>A bamboo transverse flute</p>
                    </div>
                </div>
                <div class="col s3 image center">
                    <img class="responsive-img" src="erhu.png">
                    <div class="description">
                        <p class="title"> Erhu</p>
                        <p>A 2-string fiddle</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h5 class="center">We also have a variety of instruments available for sale or rental.</h5>
        </div>

        <div class="row location container">
            <div class="center">
                Our location: 37-02 Main St, Flushing, NY 11354, 4th Floor, Suite 202
            <div>
                <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=800x500&markers=size:huge%7C40.761153,-73.831819" alt="map">
            </div>
            </div>
        </div>

        <div class="row contact container">
            {{> contactForm}}
        </div>
    </div>


</template>