<template name="layout">
    <nav class="green lighten-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center"><img src={{dict 'site.logo.url'}}></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                {{#each pages}}
                    <li><a href="{{path}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </div>
    </nav>

    <main>
        <div class="container">
            {{>yield}}
        </div>
    </main>

    <footer class="page-footer green lighten-2">
        <div class="container">
            <div class="row">
                <div class="col 16 s9">
                    <h5 class="black-text">Some stuff</h5>
                </div>
                <div class="col 16 s3">
                    <p class="black-text text-lighten-4"> Some more stuff.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container black-text">
                © 2014 Copyright Text
                <a class="black-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>


    </footer>
</template>
