<template name="layout">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <main>
        {{>yield}}
    </main>

    <footer class="page-footer green lighten-2">

            <div class="row">
                <div class="col s16 s9">
            </div>
                <div class="col s16 offset-s9 s3 grey-text text-darken-4">
                    <p> 37-02 Main St, Flushing, NY 11354</p>
                    <p> 4th Floor, Suite 202</p>
                    <p>  <i class="material-icons">phone</i>1-718-207-0224</p>
                </div>
            </div>

        <div class="footer-copyright">
            <div class="container black-text">
            </div>
        </div>


    </footer>
</template>
