<template name="teachers">
    <div class="row">
        {{#with get_teachers}}
            <div class="col s3">
                <div class="collection teacher-list deep-purple-text">
                    {{#each this}}
                        <a href="#" class="collection-item" id="{{teach_id this}}">
                            {{this.name}}
                        </a>
                    {{/each}}
                </div>
            </div>
            <div class="col s9 teacher-container">
                {{#each this}}
                    <div class="teacher inactive" id="bio-{{teach_id this}}">
                        <p>{{this.name}}</p>
                        <img src="{{this.image.url}}" class="teacher-portrait">
                        {{{get_inner this.body}}}

                    </div>

                {{/each}}
                {{{content}}}
            </div>
        {{/with}}
    </div>
</template>
